html {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #222;
}
.about {
  display: grid;
  max-width: 600;
  margin-left: auto;
  margin-right: 3rem;
  text-align: center;
  justify-content: right;
}
